{% extends 'base.html.twig' %}
{% set caption = 'Resetowanie hasła' %}
{% block title %}{{ caption }}{% endblock %}

{% block body %}
    <h1>{{ caption }}</h1>
    {% if message is defined %}
        <h2>{{ message }}</h2>
    {% endif %}
    {{ form_errors(form) }}

    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.repeatPassword) }}
    {{ form_end(form) }}
{% endblock %}
