{% extends 'base.html.twig' %}

{% block title %}Hello ManageUsersController!{% endblock %}

{% block body %}
        {{ parent () }}
<main>
        {% if message is defined %}
                <h1>{{ message }}</h1>
        {% endif %}
        {% if usersList is defined %}
                {% for user in usersList %}
                        <table>
                                <tr class="table-header">
                                <td>
                                        {{ user.email }}
                                </td>
                                        <td class="button-cell">
                                                <a href="{{ path('app_delete_user', {'id':user.id}) }}">Usuń</a>
                                        </td>
                                        <td class="button-cell">
                                                <a href="{{ path('app_edit_user', {'id':user.id}) }}">Edytuj</a>
                                        </td>
                                </tr>
                                {% for role in user.roles %}
                                <tr>
                                        <td colspan="2">
                                                {{ role }}
                                        </td>
                                </tr>
                                {% endfor %}
                        </table>
                {% endfor %}
        {% endif %}
</main>
{% endblock %}
