{% extends 'base.html.twig' %}
{% set caption = "Lista użytkowników" %}
{% block title %}{{ caption }}{% endblock %}

{% block body %}
    <h1>{{ caption }}</h1>
    {% if usersList %}
        <section class="items-list">
            {% for user in usersList %}
                <ul>
                    <li class="list-header">{{ user.email }}
                        <span class="editor-buttons">
                            <a href="{{ path('app_edit_user', {'id':user.id}) }}"><span class="iconify"
                                                                                        data-icon="mdi-pencil"></span></a>
                            <a href="#" onclick="confirmDelete({{ user.id }}, 'manage/users')"><span class="iconify"
                                                                                                     data-icon="mdi-delete"></span></a>
                        </span>
                    </li>
                    <ul class="list-content">
                        {% for role in user.roles %}
                            <li class="list-item-underlined">{{ role }}</li>
                        {% endfor %}
                    </ul>
                </ul>
            {% endfor %}
        </section>
    {% else %}
        <h2>Nic do wyświetlenia</h2>
    {% endif %}
{% endblock %}
