{% extends 'base.html.twig' %}
{% set caption = 'Prośby o rejestrację' %}
{% block title %}{{ caption }}{% endblock %}

{% block body %}
        <h1>{{ caption }}</h1>
        {% if requests %}
            <section class="items-list">
        {% for request in requests %}

                <ul class="list-content">
                    <li class="list-item-underlined">
                        <span>{{ request.email }}</span>
                        <span class="editor-buttons">
                            {% if not request.isAccepted %}
                            <a href="{{ path('app_request_confirm', {'id':request.id}) }}">Zatwierdź</a>
                            {% endif %}
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <a href="{{ path('app_request_deny', {'id':request.id}) }}">Usuń</a>
                        </span>
                    </li>
                </ul>
        {% endfor %}
            </section>
        {% else %}
        <h2>Nic do wyświetlenia</h2>
        {% endif %}
{% endblock %}
