{% extends 'base.html.twig' %}
{% set caption = 'Dodawanie systemodawcy' %}
{% block title %}{{ caption }}{% endblock %}

{% block body %}
    {{ parent () }}
    <section class="normal-form">
        <h1>{{ caption }}</h1>
        {{ form(form) }}
        {% if error is defined %}
            <div id="error">
                {{ error }}
            </div>
        {% endif %}
    </section>
{% endblock %}
