{% extends 'base.html.twig' %}

{% block title %}{{ caption }}{% endblock %}

{% block body %}
    {{ parent() }}
    <main>
        <h1>{{ caption }}</h1>
        <table>
            <tr class="table-header">
                <td colspan="3">
                    <a href="{{ path('app_add_system') }}"><span class="iconify"
                                                                 data-icon="mdi-note-plus-outline"></span> Dodaj
                        nowy</a>
                </td>
            </tr>
            {% for system in systems %}
                <tr>
                    <td>
                        {{ system.name }}
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td class="button-cell">
                            <a href="{{ path('app_edit_system', {'id':system.id}) }}"><span class="iconify"
                                                                                            data-icon="mdi-pencil"></span></a>
                        </td>
                    {% endif %}
                    {% if is_granted('ROLE_GOD') %}
                        <td class="button-cell">
                            <a href="#" onclick="confirmDelete({{ system.id }})"><span class="iconify"
                                                                                       data-icon="mdi-delete"></span></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </main>

    <script>
        let message = "Usunięcie systemu spowoduje usunięcie wszystkich powiązanych katalogów wraz z plikami. Tej operacji nie można cofnąć! Czy chcesz kontynuować?";

        function confirmDelete(id) {
            if (window.confirm(message)) {
                let url = "{{ path('app_delete_system', {'id': 'entity_id'}) }}";
                url = url.replace('entity_id', id);
                window.location.href = url;
            }
        }
    </script>
{% endblock %}
