{% extends 'base.html.twig' %}
{% set caption = 'Dziennik' %}
{% block title %}{{ caption }}{% endblock %}

{% block body %}
    {{ parent () }}
    <main>
        <h1>{{ caption }}</h1>
        <div>
            <label for="select-box-via-column">Sortowanie:</label>
            <select name="select-box-via-column" id="select-box-via-column">
                <option value="id">ID</option>
                <option value="whoDidTheAction">Użytkownik</option>
                <option value="actionType">Akcja</option>
                <option value="onWhatEntity">Obiekt</option>
                <option value="whenActionWasDone">Data i czas akcji</option>
            </select>
            <label for="select-box-order">Kolejność</label>
            <select name="select-box-order" id="select-box-order">
                <option value="ASC">Rosnąco</option>
                <option value="DESC">Malejąco</option>
            </select>
            <button id="sort-button">Sortuj</button>
        </div>
        <table>
            <tr class="table-header">
                <td>ID</td>
                <td>Użytkownik</td>
                <td>Akcja</td>
                <td>Obiekt</td>
                <td>Data i czas akcji</td>
            </tr>
            {% if logs %}
                {% for log in logs %}
                    <tr>
                        <td>
                            {{ log.id }}
                        </td>
                        <td>
                            {{ log.whoDidTheAction }}
                        </td>
                        <td>
                            {{ log.actionType }}
                        </td>
                        <td>
                            {{ log.onWhatEntity }}
                        </td>
                        <td>
                            {{ log.whenActionWasDone|date('Y-m-d H:i:s') }}
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                <h2>Nic do wyświetlenia</h2>
            {% endif %}
        </table>
    </main>
    <script>
        const sortBtn = document.getElementById("sort-button");


        sortBtn?.addEventListener('click', () => {
            const selectBoxViaColumnValue = document.getElementById("select-box-via-column").value;
            const selectBoxOrderValue = document.getElementById("select-box-order").value;
            location.href = `/log/order-by/${selectBoxViaColumnValue}/${selectBoxOrderValue}`;
        })

        //  /log/order-by/{columnName}/{orderRule}
    </script>
{% endblock %}
