{% extends 'base.html.twig' %}

{% block title %}GABIT | Baza wiedzy{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        main {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
        section {
            padding: 15px 20px 15px 20px;
            background-color: #102e44;
            color: #fff;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            box-shadow: 0 0 10px #000;
        }
        section form {
            display: flex;
            flex-direction: column;
        }
        section form>input,label,button,span {
            margin-top: 5px;
        }
        #logo-placeholder {
            display: flex;
            width: 200px;
            color: #102E44;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            padding: 20px;
        }
        .logo-placeholder-big {
            font-size: 50px;
        }
        .logo-placeholder-small {
            font-size: 15px;
        }
        input, button {
            padding: 5px;
            height: 1.5em;
            border-radius: 4px;
        }
        input {
            border: 1px solid #c0c0c0;
            font-size: 17px;
            font-family: Montserrat, sans-serif;
        }
        button {
            height: 2.2em;
            margin-top: 5px;
            background-color: #005596;
            color: #fff;
            border: 1px solid #fff;
            font-size: 17px;
            font-family: Montserrat, sans-serif;
        }
        a {
            color: deepskyblue;
            text-decoration: none;
        }
        a:hover {
            color: #c0c0c0;
            text-decoration: none;
        }
        #error {
            color: #ff0000;
            padding: 5px;
        }
    </style>
{% endblock %}
{% block body %}
    {% if message is defined %}
    <h2>{{ message }}</h2>
    {% endif %}

    <main>
        <div id="logo-placeholder">
            <span class="logo-placeholder-big">
                GABIT
            </span>
            <span class="logo-placeholder-small">
                Baza wiedzy | Aluminium
            </span>
        </div>
        <section>
            <div>
                <form action="{{ path('app_login') }}" method="post">
                    <label for="username">Email:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}">
                    <label for="password">Hasło:</label>
                    <input type="password" id="password" name="_password">
                    <input type="hidden" name="_target_path" value="/">
                    <button type="submit">Zaloguj</button>
                </form>
            </div>
            <span>
                <a href="{{ path('app_forgot_password_request') }}">Zapomniałem hasła</a>
            </span>
            <span>
                <p>Nie masz konta? <a href="{{ path('app_register') }}">Poproś o dostęp</a></p>
            </span>
        </section>
        <div id="error">
            {% if error %}
                <div>{{  error }}</div>
            {% endif %}
        </div>
    </main>
{% endblock %}
