{% extends 'base.html.twig' %}

{% block title %}Hello CatalogsHomeController!{% endblock %}

{% block body %}
    {{ parent() }}
<main>
    <ul>
        {% if is_granted('ROLE_EDITOR') %}
        <li><a href="{{ path('app_add_catalog') }}">Dodaj nowy</a></li>
        {% endif %}
        {% for system in systems %}
            <li class="system">{{ system.name }}

                <ul>
                    {% for catalog in catalogs[system.name] %}
                        <li class="system"><a href="{{ asset('uploads/pdfFiles/' ~ catalog.pdfFile) }}" target="_blank">{{ catalog.name }}</a>
                            {% if is_granted('ROLE_EDITOR') %}
                                - <a href="{{ path('app_edit_catalog', {'id':catalog.id}) }}">Edytuj</a> -
                                <a href="{{  path('app_delete_catalog', {'id':catalog.id}) }}">Usuń</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

            </li>
        {% endfor %}
        </ul>
</main>
{% endblock %}
