<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    {% endblock %}


</head>
<body>
{% block body %}
    <script src="//code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <nav id="top-menu">
        <div id="top-menu-options">
            <div id="top-menu-option">
                <a href="{{ path('app_catalogs_home') }}">Strona główna</a>
            </div>
            {% if is_granted('ROLE_EDITOR') %}
                <div id="top-menu-option">
                    <a href="{{ path('app_show_report') }}">Zgłoszenia</a>
                    <span id="report-notification-icon">
                        <span class="iconify" data-icon="mdi-circle-medium"></span>
                    </span>
                </div>
            {% endif %}
            {% if not is_granted('ROLE_GOD') %}
                <div id="top-menu-option">
                    <a href="{{ path('app_add_report') }}">Wyślij zgłoszenie</a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <div id="top-menu-option">
                    <a href="{{ path('app_manage_users') }}">Użytkownicy</a>
                </div>
                <div id="top-menu-option">
                    <a href="{{ path('app_show_system') }}">Systemodawcy</a>
                </div>
                <div id="top-menu-option">
                    <a href="{{ path('app_log') }}">Dziennik</a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_GOD') %}
                <div id="top-menu-option">
                    <a href="{{ path('app_manage_requests') }}">Prośby o dostęp</a>
                    <span id="request-notification-icon">
                        <span class="iconify" data-icon="mdi-circle-medium"></span>
                    </span>
                </div>
                <div id="top-menu-option">
                    <a href="{{ path('app_show_report_category') }}">Kategorie zgłoszeń</a>
                </div>
            {% endif %}
        </div>
        <div id="top-menu-options">
            <div id="user-info">
                <span class="user-element">{{ app.user.email }}</span>
                <span class="user-element"><a href="{{ path('app_logout') }}">Wyloguj</a></span>
                <span></span>
            </div>
        </div>

    </nav>
    <span class="ok-message-element" id="ok-message-element">
        {% if app.session.flashBag.has('success') %}
        {{ app.session.flashBag.get('success')[0] }}
        <span id="close-message-icon">
            <span class="iconify" data-icon="mdi-close"></span>
        </span>
        {% endif %}
    </span>
<footer>
    &copy;2023 Maciej Janta-Lipiński
</footer>
{% endblock %}
{% block javascripts %}
    <script>
        let message = "Usunięcie spowoduje bezpowrotne skasowanie wszystkich danych. Czy chcesz kontynuować?";

        function confirmDelete(id, entity) {
            if (window.confirm("Czy na pewno chcesz usunąć ten element? Tej operacji nie można cofnąć.")) {
                window.location.href = `/${entity}/delete/${id}`;
            }
        }
    </script>
    <script>
        let closeMessageEl = document.getElementById("close-message-icon");
        let okMessageEl=document.getElementById("ok-message-element");
        closeMessageEl?.addEventListener('click', (event) => {
            okMessageEl.innerText = null;
            event.preventDefault();
        });
    </script>
    <script>
        getNotifications();
        setInterval(getNotifications, 300000);
        function getNotifications() {
            const reportNotificationCountEl = document.getElementById("report-notification-icon");
            const requestNotificationCountEl = document.getElementById("request-notification-icon");
            (async () => {
                const notifications = await fetchData();

                if (requestNotificationCountEl) {
                    if (notifications.numberOfRegisterRequests != null && notifications.numberOfRegisterRequests != 0) {
                        requestNotificationCountEl.style.display = 'flex;'
                    } else {
                        requestNotificationCountEl.style.display = 'none';
                    }
                }

                if (reportNotificationCountEl) {
                    if (notifications.numberOfReports != null&& notifications.numberOfReports != 0) {
                        reportNotificationCountEl.style.display = 'flex';
                    } else {
                        reportNotificationCountEl.style.display = 'none';
                    }
                }


            })();

            async function fetchData() {
                try {
                    const response = await fetch('/get-notifications', {
                        method: 'POST'
                    });

                    const data = await response.json();
                    return {
                        numberOfRegisterRequests: Number(data.numberOfRegisterRequests),
                        numberOfReports: Number(data.numberOfReports)
                    }
                } catch (error) {
                    console.error("Unable to fetch notifications data from server", error);
                }
            }
        } //TODO FIX IT
    </script>
{% endblock %}
</body>
</html>
