{% extends 'base.html.twig' %}
{% set caption = 'Kategorie zgłoszeń' %}
{% block title %}{{ caption }}{% endblock %}

{% block body %}
    {{ parent() }}
    <main>
        <h1>{{ caption }}</h1>
        <section class="items-list">
            <ul>
                <li class="list-header">
                    <a href="{{ path('app_add_report_category') }}"><span class="iconify"
                                                                          data-icon="mdi-note-plus-outline"></span>
                        Dodaj</a>
                </li>
                {% if categories %}
                    {% for category in categories %}
                        <ul class="list-content">
                            <li class="list-item-underlined">{{ category.name }}
                                <span class="editor-buttons">
                            {% if is_granted('ROLE_GOD') %}
                                <a href="{{ path('app_edit_report_category', {'id':category.id}) }}"><span
                                            class="iconify" data-icon="mdi-pencil"></span></a>

                                <a href="#" onclick="confirmDelete({{ category.id }}, 'report/category')">
                                    <span class="iconify" data-icon="mdi-delete"></span>
                                </a>
                            {% endif %}
                                </span>
                            </li>
                        </ul>
                    {% endfor %}
                {% endif %}
            </ul>
        </section>
    </main>
{% endblock %}